.container {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 20px;
    padding-bottom: 50px;
}

.product {
    background-image: url('../../images/itemBg.jpg');
    background-size: cover;
    margin-top: 30px;
}

.img {
    width: 380px;
    height: 360px;
    border-radius: 5px;
}

.product h3 {
    padding-top: 20px;
    font-size: 25px;
    padding-bottom: 10px;
}

.product p {
    color: #E35701;
    font-weight: 600;
}

.pick {
    display: flex;
    padding-top: 10px;
}

.pick button {
    background-color: #E35701;
    color: white;
    border: none;
    padding: 10px;
    width: 8rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-transform: uppercase;
    font-weight: bolder;
    cursor: pointer;
}

.pick input {
    background-color: white;
    border: none;
    outline: none;
    width: 4rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 10px;
}

.pick button:active {
    background-color: #c34b00;
    transition:  0.3s ease;
}

.bigLine {
    border-top: 1px solid #3D4143;
    width: 75rem;
    margin: 0 auto;
    margin-top: 30px;
    padding-bottom: 70px;
}