/* Navbar.module.css */
.navbar {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    align-items: center;
    padding: 1rem;
    height: 5rem;
  }
  
  .logo {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  .menu {
    display: flex;
  }
  
  .menu a {
    text-decoration: none;
    color: white;
    margin: 0 1rem;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 15px;
  }

  .navbar a:focus {
    color: #E35701;
  }

  .navbar a:hover {
    color: #E35701;
    transition: ease-in-out 0.3s;
  }
  
  .hamburger {
    cursor: pointer;
    display: none;
    flex-direction: column;
  }
  
  .line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
  }

  .logo h5 {
    font-size: 22px;
  }
  
  @media (max-width: 768px) {
    .menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #333;
      z-index: 1;
    }
  
    .menu.mobile {
      display: none;
    }
  
    .hamburger {
      display: none;
    }

    .navbar {
      justify-content: space-between;
      margin-left: 10px;
      margin-right: 120px;
    }

    .logo {
      gap: 10px;
    }
  }
  