@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.App {
    background-color: #000000;
    color: white;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Creepster', cursive;
  }
